<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="row">
          <div class="col-lg-6">
            <img alt="Brand" style="width: 200px; height: 200px;" src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg">
          </div>
          <div class="col-lg-3">
            <h2>Acerca de mí:</h2>
          </div>

          <div class="col-lg-2">
            <p>Lautaro,Tiziano Y Rubí</p>
          </div>
          
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>