<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="row">
          <div class="col-lg-3">
            <img alt="Brand" class="imagen"src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg">
          </div>
          <div class="col-lg-9">
            <h2>Acerca de mí:</h2>
            <p>Frecuentemente cuando los medios de comunicación hablan de la influencia de la tecnología en nuestras vidas se refieren a las nuevas tecnologías o la alta tecnología. Nosotros mismos al escuchar la palabra tecnología tendemos a pensar en ordenadores de última generación, en naves espaciales, satélites artificiales, redes de alta tensión, centrales eléctricas, grandes máquinas…

              Sin embargo los objetos más domésticos y cotidianos también son productos tecnológicos: los libros, la ropa que vestimos o los bolígrafos no han estado siempre ahí, surgieron a raíz de un descubrimiento o de una invención en un momento determinado de la historia; también fueron, en su día, tecnología punta.
              Se suele asociar tecnología con modernidad, pero realmente la actividad tecnológica, la curiosidad por modificar nuestro entorno para mejorar nuestras condiciones de vida, es algo tan viejo como la humanidad.
              
              Entonces, ¿qué es la tecnología?</p>
          </div>
          
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>