<nav>
    <h2 [routerLink]="['/']" routerLinkActive="router-link-active" > Mi primer trabajo </h2>
    <div class="menu">
        <ul>
            <li *ngIf="!logeado" (click)="sesion(true)"><span>Registrarse / Iniciar Sesión</span></li>
            <li *ngIf="logeado" (click)="cerrarSesion()">Salir</li>
            <li *ngIf="logeado" [routerLink]="['/ofertas']" routerLinkActive="router-link-active">Ofertas Laborales</li>
            <li *ngIf="logeado" [routerLink]="['/perfil/postulante']" routerLinkActive="router-link-active">Mi Perfil</li>  
        </ul>
    </div>
</nav>
