<nav>
    <h2 [routerLink]="['/']" routerLinkActive="router-link-active" ><b style="color: #FFF">MPT</b><b style="color: #47B4FF;">IT</b></h2>
    <div class="menu">
        <ul>
            <li *ngIf="!logeado" (click)="sesion(true)"><span style="color: #FFF">Iniciar Sesión</span></li>
            <li *ngIf="logeado" (click)="irAPerfil()"><span style="color:#FFF">Perfil</span></li>
            <li *ngIf="logeado" (click)="cerrarSesion()" style="color: #FFF">Salir</li>
            <!-- <li *ngIf="logeado" [routerLink]="['/ofertas']" routerLinkActive="router-link-active" style="color: #FFF">Ofertas Laborales</li>
            <li *ngIf="logeado" [routerLink]="['/perfil/postulante']" routerLinkActive="router-link-active" style="color: #FFF">Mi Perfil</li>   -->
        </ul>
    </div>
</nav>
