<div class="miContainer">
    <div class="row">
        <div class="col-lg-12">
            <div class="bloqueAnuncio" *ngFor="let oferta of ofertas"> 
                
                    <div class="modal-header">
                        <h4 class="modal-title">Oferta de {{oferta.empresa}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <b>Ubicación:</b>
                            </div>
                            <div class="col-lg-9">
                                {{oferta.ubicacion}}
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-lg-3">
                                <b>Puesto:</b>
                            </div>
                            <div class="col-lg-9">
                                {{oferta.puesto}}
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-lg-3">
                                <b>Requisitos:</b>
                            </div>
                            <div class="col-lg-9">
                                {{oferta.requisitos}}
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-lg-3">
                                <b>Enviar CV a:</b>
                            </div>
                            <div class="col-lg-9">
                                {{oferta.enviarCV}}
                            </div>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
</div>

