<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="modal-body">
    <p>{{message}}</p>
    <form [formGroup]="formRazon" (ngSubmit)="confirm(this.formRazon.value)">

        <label>Dinos la razón, por favor.</label>
        <input class="form-control" type="text" formControlName="razon" name="razon"  required>
        <span *ngIf="this.formRazon.controls.razon.touched && this.formRazon.controls.razon.invalid" style="color: red;">*Este campo es obligatorio</span>
        <br>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">{{cancelName}}</button>
            <button type="submit" ngbAutofocus class="btn btn-danger" [disabled]="this.formRazon.invalid">{{okName}}</button>
        </div>
    
    </form>
</div>
